@charset "utf-8";
/* CSS Document */

#container {
	min-height:100%;
	position:relative;
	}

#header {
	height: 83px;
	width:auto;
	padding-top:1px;
	padding-left:20px;
	margin: -0.5em;
	margin-left:-0.5em;
	margin-right:-0.5em;
	margin-bottom:0em;
	background-image: url('../img/bkg2.png');
	background-repeat: repeat-x
	color: #FFFFFF;
	}
	
#menu 	{
	margin-top: -1.3em;
	margin-right: 0.5em;
    
	}
	
#body	{
  
	width: 100%;
	height: auto;
	margin-left:-0.5em;
	margin-right:-0.5em;
	background-color: #FFFFFF;
	}
	
#leftside{
	position:absolute;
	float: left;
	width: auto;
	height: auto;
	margin-left:-0.5em;
	margin-right:-0.5em;
	background-color: #FFFFFF;
	}
	
#rightside{
	float: left;
	width: auto;
	height: 100%;
	margin-left: 13em;
	margin-right:-0.5em;
	background-color: #FFFFFF;
	}
	
#graph{
	width: auto;
	height: auto;
	margin-left: 30em;
	margin-right:-0.5em;
	background-color: #A6bb68;
	}
	
#footer {
	position:absolute;
	bottom:0;
	width:100%;
	height:auto;
	margin-left:-0.5em;
	margin-right:-0.5em;
	
	color: #0F0F0F;
	
	}

#mysqlcheck{
	width: auto;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFFFFF;
	}

.clear {
    clear: both;
}
